---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<BaseLayout>
	<section class="mb-6">
		<h1 class="text-5xl font-typewriter mb-4">Fionn &Oacute; Muir&iacute;</h1>
    	<p1 class="text-lg font-sans text-gray-700">This website is currently under construction... Thank you for your patience &#x1F64F;</p> 
	</section>
	<section>
		<h1 class="text-4xl font-typewriter mb-4">Projects</h1>
		<ProjectCard
			title="C.A.S.R"
			description="Connected Autonomous Surveilance Robot."
		/>
	</section>
</BaseLayout>
