---
const { pageTitle } = Astro.props;
---

<html>
    <head>
        <title>
            Fionn &Oacute; Muir&iacute;
        </title>
    </head>
    <body>
        <h1>Fionn &Oacute; Muir&iacute;</h1>
        <p1>This website is currently under construction... Thank you for your patience &#x1F64F;</p> 
    </body>
</html>