---
const { pageTitle } = Astro.props;
import '../styles/global.css'
---

<html class="scroll-smooth">
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <title>
            Fionn &Oacute; Muir&iacute;
        </title>
    </head>

    <main class="max-w-5xl mx-auto px-6 py-12">
        <slot />
    </main>

    <footer class="border-t border-slate-200 mt-20 py-10">
      <div class="max-w-5xl mx-auto px-6 text-center text-slate-500 text-sm">
        <p>&copy; {new Date().getFullYear()} Fionn &Oacute; Muir&iacute; <a class="underline" href="mailto:fionneomuiri@gmail.com">fionneomuiri@gmail.com</a></p>
      </div>
    </footer>
</html>